<div class="person-details">
  <div class="person-details__name">
    <h1><%= person.name %></h1>
  </div>

  <div class="person-details__legal">
    <p>Practicing Name:</p>
    <p><strong> <%= person.legal_name %></strong></p>
  </div>
  
  <div class="person-details__birth">
    <p>Date of Birth:</p>
    <p><strong><%= person.birth_date %></strong></p>
  </div>
</div>
