<div class="new-person-container">
  <h2>Redigering av Helsepersonell</h2>

  <%= render "edit_form", person: @person %>

  <div>
    <%= link_to "Vis", @person, class: "new-person__back" %>
    <%= link_to "Tilbake", people_path, class: "new-person__back" %>
  </div>
</div>

