<div class="new-person-container">
  <h2>Redigering av Helsepersonell</h2>

  <%= render "form", person: @person %>

  <div>
    <%= link_to "Show this person", @person, class: "new-person__back" %>
    <%= link_to "Back to people", people_path, class: "new-person__back" %>
  </div>
</div>

