<div class="new-person-container">
  <h2>Legg til Helsepersonell</h2>

  <%= render "form", person: @person %>

  <div>
    <%= link_to "Tilbake", people_path, class: "new-person__back" %>
  </div>
</div>

