$lightblue : #0072A4;

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.home-container__title--lg {
  font-size: 3.5rem;
}

.home-container__title--md {
  font-size: 3.5rem;
  margin-left: 5rem;
}