$lightblue : #0072A4;

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5rem 0;
}

.home-container__title--lg {
  font-size: 4.5rem;
  font-family: 'BebasNeue', Tahoma;
}

.home-container__title--md {
  font-size: 3.5rem;
  text-align: right;
  margin-top: -1.5rem;
  margin-right: 2rem;
  font-family: 'BebasNeue', Tahoma;
  color: $lightblue;
}

.home-container__img svg {
  width:300px;
  height: auto;
}

.home-container__slogan {
  font-size: 1.3rem;
  color: grey;
  padding: 1rem;
}

.home-container__tagline {
  font-size: 1.1rem;
  padding: 1rem;
}
