$lightblue : #0072A4;

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5rem 0;
  animation: fadeIn;
  animation-duration: 1s;
}

.home-container__title--lg {
  font-size: 4.5rem;
  font-family: 'BebasNeue', Tahoma;
}

.home-container__title--md {
  font-size: 3.5rem;
  text-align: right;
  margin-top: -1.5rem;
  margin-right: 2rem;
  font-family: 'BebasNeue', Tahoma;
  color: $lightblue;
}

.home-container__img svg {
  width:300px;
  height: auto;
}

.home-container__slogan {
  font-size: 1.3rem;
  color: grey;
  padding: 1rem;
}

/* IPAD Portrait and Landscape */
@media screen 
  and (min-width: 768px) 
  and (max-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
  .home-container__title--lg {
    font-size: 5.5rem;
  }

  .home-container__title--md {
    font-size: 4.5rem;
  }

  .home-container__img svg {
    width:400px;
    height: auto;
  }

  .home-container__slogan {
    font-size: 1.8rem;
  }
}

/* Laptop and Desktop */
@media screen 
  and (min-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}
