.new-person-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  h2 {
    font-size: 2rem;
    font-family: "BebasNeue";
  }
}

.new-person__add-person {
  width: 100%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form div {
    font-size: 1rem;
    padding: 1rem;
  }

  form input {
    font-size: 1rem;
    padding: .5rem;
    border: .5px solid #0072A4;
    border-radius: .2rem;
  }
}

.new-person__submit {
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: white;
  border: .5px solid #0072A4;
  border-radius: .2rem;
  color: #0072A4;
  font-weight: 600;

  &:hover {
    background-color: #0072A4;
    color: white;
  }
}

.new-person__back {
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: #0072A4;
  border: .5px solid #0072A4;
  border-radius: .2rem;
  color: white;
  font-weight: 600;

  &:hover {
    background-color: white;
    color: #0072A4;  
    border: .5px solid #0072A4;
  }
}