.person-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: #0072A4;
  color: white;
}

.person-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.person-details__name {
  font-size: 1.5rem;
  margin: 1rem;
}

.person-details__legal {
  font-size: 1.5rem;
  margin: 1rem;
}

.person-details__birth {
  font-size: 1.5rem;
  margin: 1rem;
}

.person-details__clinic {
  font-size: 1.3rem;
  margin: 1rem;
  text-align: center;
}

.person-details__clinic-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.person-details__clinic-tag {
  background-color: white;
  border-radius: .4rem;
  padding: .5rem;

  a {
    color: #0072A4;
  }
}

.person-details__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.person-details__buttons a {
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  background-color: white;
  border: .5px solid white;
  border-radius: .2rem;
  color: #0072A4;
  margin: .3rem;
}

.person-details__buttons form button {
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  background-color: white;
  border: .5px solid white;
  border-radius: .2rem;
  color: #0072A4;
  margin: .3rem;
}