.people-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cards__results {
  text-align: left;
  margin: .6rem 1.8rem;
  color: grey;
}

.card {
  border: .2rem solid rgba(0, 0, 0, 0.05);
  border-radius: .4rem;
  padding: 1.8rem .8rem;
  margin: .8rem 1.8rem;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  h2 {
    font-family: "BebasNeue";
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  a {
    text-decoration: none;
    color: #0072A4;
  }

  .card__button {
    font-size: 1rem;
    padding: .6rem 1.2rem;
    margin-top: 1.8rem;
    background-color: #0072A4;
    border: .5px solid #0072A4;
    border-radius: .2rem;

    a {
      color: white;
      font-weight: 600;
    }
  }

  .card__button:hover {
    background-color: white;
    border: .5px solid #0072A4;
    a {
      color: #0072A4;
    }
  }
}

.card:hover {
  border: .2rem solid #0072A4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

