.person-details__add-clinic {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
  padding: 2rem;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form div {
    padding: .2rem;
  }

  div select {
    font-size: 1rem;
    color: grey;
    padding: .5rem 1rem;
    border: .5px solid white;
    border-radius: .2rem;
  }

  form input {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: white;
    border: .5px solid white;
    border-radius: .2rem;
    color: #0072A4;
    font-weight: 600;
    cursor: pointer;
  }
}

/* IPAD Portrait and Landscape */
@media screen 
  and (min-width: 768px) 
  and (max-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .person-details__add-clinic {
    div select {
      font-size: 1rem;
      padding: 1rem 1rem;
    }

    form input {
      font-size: 1.5rem;
      padding: .8rem 1rem;
    }
  }

}