<nav>
  <div class="nav__left">
    <%= link_to "", root_path, class: "fa-solid fa-house-medical icon-home" %>
  </div>

  <div class="nav__right">
    <div class="add_new_button"><%= link_to "+", new_person_path, class: "" %></div>
  </div>

</nav>