<div class="home-container">

  <div>
    <h1 class="home-container__title--lg">LEGELISTEN</h1>
    <h1 class="home-container__title--md">lite</h1>
  </div>

  <div>
    <h3>Hjelper deg med å holde styr på helsepersonell</h3>
    <h4>Legg raskt til nye helsepersoner og administrer din egen unike database</h4> 
  </div>

  <%= render "people/search" %>

</div>
