<main class="home-container">
  <header>
    <h1 class="home-container__title--lg font--main">LEGELISTEN</h1>
    <h1 class="home-container__title--md">light</h1>
  </header>

  <figure class="home-container__img"><%= svg 'noun-doctor' %></figure>
  
  <section>
    <p class="home-container__slogan">Hjelper deg med å holde styr på helsepersonell</p>
  </section>

  <section id="home-search">
  <%= render "people/search" %>
  </section>
</main>
