nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0072A4;
  border-bottom: 1px solid #ddd;
}

.nav__left {
  margin-left: 2rem;

  a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
}

.nav__right {
  margin-right: 2rem;

  a {
    color: white;
  }
}

.add_new_button {
  text-align: center;
  font-size: 2rem;
  padding: .4rem 1rem;
  background-color: #0072A4;
  border: 2px solid white;
  border-radius: .4rem;
  transition: opacity 1s ease;
}

.add_new_button:hover {
  background-color: white;
  border: 2px solid #0072A4;
  opacity: 1;
  a {
    color: #0072A4;
  }
}

/* IPAD Portrait and Landscape */
@media screen 
  and (min-width: 768px) 
  and (max-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
  .nav__left {
    margin-left: 3rem;
    a {
      font-size: 3rem;
    }
  }
  .nav__right {
    margin-right: 3rem;
  }
}

// Laptop and Desktop
@media screen 
  and (min-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  nav {
    justify-content: space-around;
  }

  .nav__left a {
    font-size: 3rem;
  }
}