$lightblue : #0072A4;

.search {
  background-color: white;
  padding: .2rem .8rem;
  margin: 1.2rem 1.2rem;
}

.search__form {
  display: flex;

  .search__bar {
    width: 70%;
    padding: 1.2rem;
    font-size: 1.5rem;
    border: none;
    border: 1px solid lightgrey;
    border-radius: .4rem 0 0 .4rem;
  }

  .search__btn {
    width: 20%;
    background-color: $lightblue;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
    border: none;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;
  }
}

/* IPAD Portrait and Landscape */

@media screen 
  and (min-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .search__form .search__bar {
    font-size: 1.8rem;
  }

  .search__form .search__btn {
    font-size: 1.8rem;
  }
}