$lightblue : #0072A4;

.search {
  background-color: white;
  border: 1px solid lightgrey;
  padding: .2rem .8rem;
  margin: .4rem 1.2rem;
  border-radius: .4rem;
  width: 300px;
}

.search__form {

  .search__bar {
    width: 90%;
    padding: .9rem;
    font-size: 1.2rem;
    border: none;
  }

  .search__btn {
    background-color: $lightblue;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
  }
}